# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
Example/build/
Example/DerivedData/

## Various settings
Example/*.pbxuser
!Example/default.pbxuser
Example/*.mode1v3
!Example/default.mode1v3
Example/*.mode2v3
!Example/default.mode2v3
Example/*.perspectivev3
!Example/default.perspectivev3
Example/xcuserdata/


## Other
Example/*.moved-aside
Example/*.xccheckout
Example/*.xcscmblueprint

## Obj-C/Swift specific
Example/*.hmap
Example/*.ipa
Example/*.dSYM.zip
Example/*.dSYM

## Playgrounds
Example/timeline.xctimeline
Example/playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
Example/.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
Pods/
Example/Pods/
Example/Podfile.lock

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Example/Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

Example/fastlane/report.xml
Example/fastlane/Preview.html
Example/fastlane/screenshots
Example/fastlane/test_output
Example/Example.xcworkspace/xcuserdata/*
Example/Example.xcodeproj/xcuserdata/*
